.add-player-form {
    margin-top: 20px;
}

.player-input {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.6em;
}

.input-label {
    display: block;
    margin-left: 10px;
}

.add-player-button {
    padding: 5px 15px 10px 15px;
    background-color: #722CA9;
    box-shadow: 1px 1px 10px black;
    font-size: 2em;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
}

.add-player-button:active {
    background-color: #251a33;
}

@media (max-width: 800px) {
    .add-player-button {
        display: block;
        margin: auto;
        width: 100px;
    }

    .player-input {
        width: 75%;
    }
}