@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
  background-color: #17141f;
  background-image: url('../assets/images/what-the-hex-dark.png');
  padding: 50px;
  color: #f9f9f9;
  font-family: 'Roboto', sans-serif;
}
