.match {
    background-color: #302142;
    margin: 50px;
    border: 2px solid white;
    border-radius: 3px;
}

.match-player-text-1, .match-player-text-2 {
    text-align: center;
}

.player-warning {
    padding: 5px 15px 10px 15px;
    background-color: #722CA9;
    box-shadow: 1px 1px 10px black;
    font-size: 1.6em;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    width: 43%;
    margin: 0 20%;
}

.match-player-text-1 {
    border-bottom: 1px solid #aaa;
    padding-bottom: 17px;
}

.game-number {
    font-size: 0.8em;
    text-align: center;
    border-bottom: 1px solid #aaa;
    padding: 10px 0px;
    margin-top: 0px;    
    background-color: #722CA9;
}